.pyc
*pyc
pyc
gmon.out
.user
*user*
.user.*
*.user.*
.idea
.idea/
venv
venv/
venv/*
cmake-build-debug
cmake-build-debug/
cmake-build-debug/*
cmake-build-release
cmake-build-release/
cmake-build-release/*

